<!DOCTYPE html>
<html>
  <head>
    <title>Pickup N' Play</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
  <!-- Main body -->
  <div id="indexContent">
    <img src="images/logo_image_white.png">
    <a href="m">
      <img src="images/fb_connect.png" onclick="alert('Signing in...');">
    </a>
    <img src="images/sport_equipments.gif">

    <p><%= @message %></p>
  </div>
  </body>
</html>
