<html>
  <head>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <script src="closure-library/closure/goog/base.js"></script>
    <script src="controller.js"></script>
  </head>
  <body onload="onLoad()" style="background: url('images/main_background.png')">
    <div id="homepage" class="page">
      <!--TOP BAR HTML-->
      <div id="topBar" class="wrapper">
        <div id="logo" class="logo">
          <!-- <img src="images/top_logo.png" class="logoImage"></img> -->
          <img src="images/logo_image_white.png" class="logoImage"></img>
        </div>
        <div id="gameSearchBox" class="gameSearchBox">
          <label for="gameSearch" style="font-family: fantasy">Search for Sport:</label>
          <input type="text" id="gameSearch" class="gameSearchInputBox">
        </div>
        <div id="locationSearchBox" class="locationSearchBox">
          <label for="locationSearch" style="font-family: fantasy">Near:</label>
          <input type="text" id="locationSearch" class="locationSearchInputBox">
        </div>
        <button class="searchButton searchButtonClick" onclick="search()"></button>
      </div>

      <!--SIDEBAR HTML-->
      <div id="sidebarContentWrapper" class="sidebarContent">
        <div id="homeIconContainer" class="sidebarIconContainer">
          <a href="homepage.html">
            <img src="images/icon_home.jpeg" class="homeIcon"></img>
          </a>
          <div id="homeLabel" class="homeIconLabel">Home</div>
        </div>
        <div id="profileIconContainer" class="sidebarIconContainer">
          <a href="profile.html">
            <img src="images/icon_profile.png" class="profileIcon"></img>
          </a>
          <div id="profileLabel" class="profileIconLabel">My Profile</div>
        </div>
        <div id="createIconContainer" class="sidebarIconContainer">
          <a href="createagame.html">
            <img src="images/icon_create.png" class="createIcon"></img>
          </a>
          <div id="createLabel" class="createIconLabel">Create a Game</div>
        </div>
        <div id="advancedSearchIconContainer" class="sidebarIconContainer">
          <a href="advancedsearch.html">
            <img src="images/icon_advancedSearch.png" class="advancedSearchIcon"></img>
          </a>
          <div id="advancedSearchLabel" class="advancedSearchIconLabel">Advanced Search</div>
        </div>
        <div id="myGamesIconContainer" class="sidebarIconContainer">
          <a href="mygames.html">
            <img src="images/icon_mygames.jpeg" class="myGamesIcon"></img>
          </a>
          <div id="myGamesLabel" class="myGamesIconLabel">My Games</div>
        </div>
        <div id="myFavoritesIconContainer" class="sidebarIconContainer">
          <a href="myfavorites.html">
            <img src="images/icon_favorites.png" class="myFavoritesIcon"></img>
          </a>
          <div id="myFavoritesLabel" class="myFavoritesIconLabel">My Favorites</div>
        </div>
        <div id="helpIconContainer" class="sidebarIconContainer">
          <a href="help.html">
            <img src="images/icon_help.png" class="helpIcon"></img>
          </a>
          <div id="helpLabel" class="helpIconLabel">Help</div>
        </div>
        <div id="logoutIconContainer" class="sidebarIconContainer">
          <a href="logout.html">
            <img src="images/icon_logout.png" class="logoutIcon"></img>
          </a>
          <div id="logoutLabel" class="logoutIconLabel">Logout</div>
        </div>
      </div>

      <!-- Arrow to indicate what has been selected on the sidebar. -->
      <div id="sidebarIndicatorArrow" class="sidebarSelectedArrowHome"></div>

      <!--MAIN CONTENT HTML-->
      <div id="mainContentWrapper" class="mainContentWrapper">
        <% if @events.empty? %>
        <p>There are no events in the database. Create one!</p>
        <% end %>
        
        <% @events.each do |event| %>
        <%   username = User.where(:id => event.user_id)[0].name %>
        <%   # TODO count how many users participating the event %>
        <%=  render "posts/post", :event => event, :username => username %>
        <% end %>
      </div>
    </div>
  </body>
</html>

